:root{
    --cor-site: #5e8834;
}

html{
    font-family: sans-serif;
}

.maxWidth{
    max-width: 90em;/*1440px*/
    position: relative;
}

.header{
    text-align: center;
    margin: auto;
    padding: .5em;
    background-color: #0D0D0D;
}

.header_logo{
    width: 4em;
    height: auto;
}

#hamburguer{
    background-color: #F28F38;
    color: #0D0D0D;
    display: block;
    text-align: center;
    /* padding: 0.3em; */
    padding: 0;
    cursor: pointer;
    font-size: 2em;
}

.header_nav{
    background-color: #0D0D0D;
    display: none;
}

.header_nav.show {
    display: block;
}

ul{
    margin: 0;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a{
    color: #F28F38;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover{
    background-color: color-mix(in srgb, #F28F38, #ffffff 50%);
    color: #0D0D0D;
}

.trailer{
    /* background-color: #E4F2EB; */
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}

.trailer div{
    text-align: center;
    margin: auto;
    width: 80%;
}

.trailer_titulo{
    margin-top: 0;
    padding-top: .5em;
    color: var(--cor-site);
}

.trailer h2{
    font-size: 2em;
    margin-bottom: 1em;
}
.trailer_paragrafo{
    font-size: 1.1em;
    font-weight: bold;
}

.trailer_botao{
    display: inline-block;
    margin-top: 1em;
    padding: .8em 1.8em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.trailer_botao:hover{
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

.trailer_video{
    display: none;
}



@media screen and (min-width: 48em){/*768px maior que*/

    #hamburguer{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0D0D0D;
    }


    .header_logo{
        margin-left: 2em;
        width: 8em;
        height: auto;
    }


    .header_nav{
        display: block;
    }


    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }


    .header_nav li{
        display: inline-block;
    }


    .header_nav a{
        border-radius: 5px;
    }


    .header_nav a:hover{
        background-color: #F28F38;
        color: #ffffff;
    }

    .trailer_botao{
        display: none;
    }

    .trailer{
        background-image: url(Imagens/thumb-1920-902443.png);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: initial;
    }

    .trailer_video {
        display: block;
        block-size: 35em 19,68em;
    }

    .trailer_video .tamanho1{
        border-radius: .8em;
        margin-bottom: 1em;
    }

    .trailer_paragrafo{
        margin-bottom: 2em;
    }
 
}

.fundo_main{
    background-image: url(Imagens/thumb-1920-902443.png);
    background-size: cover;
    background-position: 29% center;
    background-repeat: no-repeat;
    height: 100vh;
}

footer{
    background-color: #F2BFAC;
    padding: 1em;
    text-align: center;
}

.logos_footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tamanho{
    width: 2.5em;
}

.texto_footer{
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin:0;
    padding-top: .8rem;
    color: #0D0D0D;
}

@media screen and (min-width: 48em){/*768px maior que */

    .logos_footer{
        flex-direction: row;
        justify-content: center;
        gap:1.5em;
    }

}